<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.hopark.model.dao.SportsDao">
	<resultMap type="com.ssafy.hopark.model.dto.Sports" id="sportsMap">
		<result column="eng_name" property="engName" />
	</resultMap>
	<select id="selectAll" resultMap="sportsMap">
		SELECT *
		FROM sports
	
	</select>
	
	<select id="selectByCondition" parameterType="SportsSearchCondition" resultMap="sportsMap">
		SELECT *
		FROM sports
		<where>
			<if test="category != null">
				category=#{category}	
			</if>
			<if test="season != null">
				AND season=#{season}	
			</if>
			<if test="goal != null">
				AND goal=#{goal}	
			</if>
			<if test="individual != null">
				AND individual=#{individual}	
			</if>
			<if test="indoor != null">
				AND indoor=#{indoor}	
			</if>
			<if test="hardcore != null">
				AND hardcore=#{hardcore}	
			</if>
			<if test="minor != null">
				AND minor=#{minor}	
			</if>
			<if test="cost != null">
				AND cost=#{cost}	
			</if>
		
		</where>
		
		
		
		
		
		

		
	</select>

	



</mapper>